<h1>Your Github Repositories</h1>
<%= link_to "Logout" , :logout %>

<h3>Public</h3>
<% @repos.each do |repo| %>
  <% if repo[:private] == false %>
  <ul>
    <li><%= link_to repo[:name], repo[:url] %></li>
    </ul>
  <% end %>
<% end %>

<h3>Private</h3>
<% @repos.each do |repo| %>
  <% if repo[:private]== true %>
    <%= link_to repo[:name], repo[:url] %>
  <% end %>
<% end %>
